@import '../scss/foundations/variables';
@import '../scss/foundations/reset';

*, *::before, *::after{
    box-sizing: border-box;
}

html {
    background-color: $primary-color;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(57, 91, 170);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 69, 127);
}